Flask==1.0.2
Flask-JWT-Extended==3.10.0
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.1.18
# SQLAlchemy==1.2.9
apispec==0.37.0
cockroachdb==0.1.5
daiquiri==1.3.0
flask-apispec==0.6.0.post0
flask-marshmallow==0.8.0
jaeger-client==3.10.0
marshmallow==2.14.0
marshmallow-sqlalchemy==0.13.2
prometheus-client==0.0.18
requests==2.18.0
